:root {
    /* Colors */
    --primary-color: #ffffff;
    --secondary-color: #483248;
    --bacground-color-nav: rgba(0, 0, 0, 0.5);
    --bacground-color-nav-active: rgba(50, 165, 32, 0.5);

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-x-large: 3rem;

    /* Font size */
    --font-size-x-small: 0.5rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-x-large: 3rem;
    --font-size-2x-large: 4rem;
}